<p-toast></p-toast>
<p-toast position="center" key="msjEstatusProceso" (onClose)="cerrarDialog()" [modal]="true"
         [style]="{marginTop: '80px'}" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>Instrucciones</h3>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-4">
                <button type="button" pButton label="Nivel Escolar" (click)="redirectEscolaridad()"
                        class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-toast position="bottom-center" key="d"></p-toast>
<p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle">
</p-confirmDialog>

<p-toast position="center" class="msg-preins" key="msjIncri" (onClose)="cerrarDialog()" [modal]="true"
         [baseZIndex]="6000">
    <ng-template let-message pTemplate="message">
        <div class="row" style="margin: 10px; width: 100% !important;">
            <div class="col-md-12 text-left">
                <h5>Instrucciones</h5>
                <hr />
            </div>
            <div class="col-md-4 text-center" style="display: flex; justify-content: center;">
                <img src="/PortalAutoservicio/assets/Images/instrucciones_pre.svg" width="80px" alt="">
            </div>
            <div class="col-md-8 text-left">
                <p>
                    Tu puntaje actual es:
                </p>
                <h3>{{puntajeActual}}</h3>
                <p style="font-size: 13px;">
                    Recuerda mantener tu información de Capacitación y
                    Nivel Escolar actualizada para considerar tu puntaje
                    real en el cálculo final.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom: 15px;">
            <div class="col-md-12" style="display: flex; justify-content: space-around;">
                <button type="button" style="width: 120px; background-color: #035859;" pButton label="Nivel Escolar"
                        (click)="redirectEscolaridad()" class="ui-button-success"></button>

                <button type="button" style="width: 120px; background-color: #6C9D1C;" pButton label="Capacitacion"
                        (click)="redirectCapacitacion()" class="ui-button-success"></button>

                <button type="button" style="width: 120px; background-color: #0F7438;" pButton label="Preinscribir"
                        (click)="preincribirServidorPublico()"
                        class="ui-button-success"></button>
            </div>
        </div>
        <hr />
        <!-- Actualizacion capacitaciones -->
        <div class="row" style="margin: 10px; width: 100% !important;">
            <div class="col-md-8 text-left">
                <p>
                    Recuerda que debes seleccionar tus capacitaciones para el proceso con base a la plaza que
                    participará para el proceso actual.
                </p>
            </div>
            <div class="col-md-4 text-center" style="display: flex; justify-content: center;">
                <img src="/PortalAutoservicio/assets/Images/evaluar_color.svg" width="80px" alt="">
            </div>
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom: 15px; margin-left: 15px;">
            <button type="button" style="width: 90%; background-color: #0F7438;" pButton
                    label="Seleccionar capacitaciones"
                    (click)="redirectDatosProfesionales()"
                    class="ui-button-success"></button>
        </div>
    </ng-template>
</p-toast>

<p-toast position="bottom-left" key="msjCorrecta" (onClose)="cerrarDialog()" [modal]="true"
         [style]="{marginTop: '80px'}" [baseZIndex]="9000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>Correcto</h3>
            <p>
                Su inscripción y documentos fueron validados.
            <p>
                Sesión de Asesoría: Día: 11/04/2020
                Lugar: Edificio Monroy
            </p>
        </div>
        <div class="ui-g ui-fluid">

            <div class="ui-g-12">
                <button type="button" pButton label="Capacitación" class="ui-button-success"></button>
            </div>

        </div>
    </ng-template>
</p-toast>

<p-toast position="bottom-right" key="c" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="Si" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="center" key="kpiQuiz" (onClose)="cerrarDialog()" [modal]="true" [baseZIndex]="7000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>Tu puntaje actual es:35.6</h3>
            <p>Recuerda mantener tu información de Capacitación</p>
            <p>y Nivel Escolar actualizada para considerar tu puntaje</p>
            <p>real en el cálculo final.</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-4" style="padding: auto; margin: auto;">
                <button type="button" pButton (click)="cerrarDialog()" label="Nivel"
                        class="ui-button-success"></button>
            </div>

            <div class="ui-g-4" style="padding: auto; margin: auto;">
                <button type="button" pButton (click)="cerrarDialog()" label="Capacitación"
                        class="ui-button-success"></button>
            </div>

            <div class="ui-g-4" style="padding: auto; margin: auto;">
                <button type="button" pButton (click)="cerrarDialog()" label="Preinscribir"
                        class="ui-button-success"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<br />

<p-panel class="panel-forma" header="Concurso escalafonario vigente" [toggleable]="false"
         *ngIf="procesoEscalafonario!=null">
    <div class="col-md-12">
        {{procesoEscalafonario.idProcesoVigente}}-<strong>{{procesoEscalafonario.nombreProcesoEvaluacion}}</strong>
    </div>
    <div class="col-md-12">
        Proceso Inicia: {{procesoEscalafonario.fechaInicioAdmin | dateFormat}}- Finaliza:
        {{procesoEscalafonario.fechaFinAdmin | dateFormat}}
    </div>
    <br>
    <div style="margin-bottom: 20px">
        <button type="button" pButton icon="pi pi-download" class="ui-button-primary" style="width: 210px !important;"
                label="Descargar Convocatoria" (click)="getDescargaConvocatoria()"></button>
    </div>
</p-panel>

<hr *ngIf="procesoEscalafonario==null" />
<p-panel class="panel-forma" header="Concurso escalafonario vigente" [toggleable]="false"
         *ngIf="procesoEscalafonario==null">
    <div class="col-md-12">
        POR EL MOMENTO NO EXISTE UN PROCESO ESCALAFONARIO ACTIVO
    </div>
</p-panel>

<hr *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'" />
<p-panel class="panel-forma"
         header="Plazas disponibles para participar en este proceso de acuerdo a su puesto actual"
         [toggleable]="false"
         *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'">
    <p-table #dt [value]="procesoEscalafonarioVigente" [paginator]="true" [rows]="10" [columns]="cols"
             dataKey="IDNIVELESTUDIOS" [rowsPerPageOptions]="[10,25,50]" [autoLayout]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="orden_datos">No.</th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                </th>
                <th>Preinscripción</th>
            </tr>
            <tr>
                <th>
                    <!--<input  pInputText type="text"
                    (input)="dt.filter($event.target.value, 'orden_datos', 'contains')">
                    -->
                </th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'GRUPO'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'RAMA'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'NOPLAZA'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'PERCEPCIONMENSUALES'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'ADSCRIPCION'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">

                    <input *ngSwitchCase="'UBICACIONTRABAJO'" pInputText type="text"
                           (input)="dt.filter($event.target.value, col.field, 'contains')">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">

                <td class="text-center">{{rowData.NUMERO}}</td>
                <!-- <td class="text-center">{{rowData.NOMBREPUESTO}}<br>{{rowData.JORNADALABORAL}} horas</td> -->
                <td class="text-center">{{rowData.NOMBREPUESTO}}</td>
                <td class="text-center">{{rowData.NIVEL}}-{{rowData.RANGO}}</td>
                <td class="text-center">{{rowData.NOPLAZA}}</td>
                <td class="text-center">{{rowData.PERCEPCIONMENSUALES | currency:'':'symbol'}}</td>
                <td class="text-center">{{rowData.ADSCRIPCION}}</td>
                <td class="text-center">{{rowData.UBICACIONTRABAJO}}</td>
                <td class="text-center">
                    <b>* Puntuación mínima escalafonaria:</b> {{rowData.PUNTAJEESCALAFONARIOMINIMO}}<br>
                    <b>* Experiencia mínima de {{rowData.EXPERIENCIAMINIMA}} meses:</b> <br /> en el puesto de
                    {{rowData.PUESTOINFERIOR}}<br>
                    * Así como puestos de ramas diferentes con nivel inmediato inferior al puesto concursado<br>
                    <b>* Escolaridad:</b> <br /> {{rowData.ESCOLARIRADMINIMA}}<br>
                    <span *ngIf="procesoGeneral">
                        <b>
                            * Escolaridad para personas servidoras públicas adscritas a la unidad administrativa donde
                            se generó la vacante:
                        </b>
                        <br />
                        {{rowData.ESCOLARIRADMINIMAGEN}}
                        <br />
                        <p *ngFor="let item of rowData.CONOCIMIENTOSMINIMOS.split('|')">
                            * {{item}}
                        </p>
                    </span>
                </td>
                <td class="text-center">
                    <img src="/PortalAutoservicio/assets/Images/{{rowData.COLORSEMAFORO}}"
                         class="tamanioIco" pTooltip="{{rowData.TOOLTIP}}">
                </td>
                <td class="text-center">
                    <img src="/PortalAutoservicio/assets/Images/preinscripcion.svg" class="tamanioIco"
                         (click)="inscripcion(rowData.NOPLAZA)" *ngIf="!activaBotonPreinscripcion"
                         style="cursor: pointer;">
                    <img src="/PortalAutoservicio/assets/Images/preinscripcion-ds.svg" class="tamanioIco"
                         *ngIf="activaBotonPreinscripcion">
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    <strong> No se encontraron registros </strong>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<hr *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'" />
<p-panel class="panel-forma" header="Plaza de participación" [toggleable]="false"
         *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'">
    <p-table [value]="plazasParticipacion" [paginator]="false" [rows]="10" [columns]="cols2" [autoLayout]="true"
             dataKey="IDNIVELESTUDIOS" [rowsPerPageOptions]="[10,25,50]"
             #miPlazaInsc2 class="indexFocus">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}

                </th>
                <th style="width: 68px;"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'NUMERO'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'GRUPO'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'RAMA'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'NOPLAZA'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'PERCEPCIONMENSUALES'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'ADSCRIPCION'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'UBICACIONTRABAJO'" pInputText type="text"
                           [style]="{'width':'100%','margin-top':'8px'}"
                           (input)="miPlazaInsc2.filter($event.target.value, col.field, 'contains')">
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">


                <td>{{rowData.NUMERO}}</td>
                <td>{{rowData.NOMBREPUESTO}}<br>{{rowData.JORNADALABORAL}} horas</td>

                <td>{{rowData.NIVEL}}-{{rowData.RANGO}}</td>

                <td>{{rowData.NOPLAZA}}</td>
                <td>{{rowData.PERCEPCIONMENSUALES | currency:'':'symbol'}}</td>
                <td>{{rowData.ADSCRIPCION}}</td>
                <td>{{rowData.UBICACIONTRABAJO}}</td>
                <td class="text-center" [ngClass]='{"borde-intermitente": aplicarFoco}'>
                    <button class="btn-icono" style="width: 90% !important; height: 90% !important;" #miPlazaInsc
                            id="miPlazaInsc" name="miPlazaInsc">
                        <img src="/PortalAutoservicio/assets/Images/detalle_color.svg" (click)="detalle(rowData)"
                             class="tamanioIco" style="cursor: pointer;">
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length + 1">
                    <strong> No se encontraron registros </strong>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<hr *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'" />
<p-panel class="panel-forma" header="Estatus del proceso" [toggleable]="false"
         *ngIf="aplicaProcesoEscalafonario.APLICA=='1' || aplicaProcesoEscalafonario.BOINSCRITO == 'true'">
    <div class="col-md-12">
        <p-steps [model]="items2" [(activeIndex)]="activeIndex"></p-steps>
    </div>
</p-panel>


<hr *ngIf="aplicaProcesoEscalafonario.APLICA=='0' && aplicaProcesoEscalafonario.BOINSCRITO == 'false'" />
<p-panel class="panel-forma"
         *ngIf="aplicaProcesoEscalafonario.APLICA=='0' && aplicaProcesoEscalafonario.BOINSCRITO == 'false'"
         header="Plazas disponibles para participar en este proceso de acuerdo a su puesto actual"
         [toggleable]="false">
    <strong>{{aplicaProcesoEscalafonario.MOTIVONOAPLICA}}</strong>
</p-panel>

<hr *ngIf="aplicaProcesoEscalafonario.APLICA=='0' && aplicaProcesoEscalafonario.BOINSCRITO == 'false'" />
<p-panel class="panel-forma"
         *ngIf="aplicaProcesoEscalafonario.APLICA=='0' && aplicaProcesoEscalafonario.BOINSCRITO == 'false'"
         header="Plaza de participación" [toggleable]="false">
    <strong>NO SE HA PREINSCRITO A NINGUNA PLAZA</strong>
</p-panel>

<!-- ( aplicarValidacion && !MsgAtencion || (!aplicarValidacion)) -->

<p-dialog header="Detalle" [(visible)]="displayProcesoEscalafonario && aplicarValidacion" [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade" [modal]="true"
          [style]="{'width': '850px', 'max-height':'850px', 'max-width':'850px'}">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12" style="font-weight: bold; font-size: large; text-align: center; white-space: pre-line;">
            {{detalleDescripcionEstatus}}
        </div>
        <div class="ui-g-12">
            <p-accordion>
                <p-accordionTab header="Requisitos" *ngIf="idEstatusPlaza != '4'">
                    {{requisitosPuntajeMinimo}}<br>

                    {{escolaridadMinima}}<br>
                    {{experienciaMinima}}
                </p-accordionTab>
                <p-accordionTab header="Guia de estudio" *ngIf="idEstatusPlaza != '4'">
                    <p-button label="Guia de estudio" [style]="{'width':'180px', 'background-color': '#01A4A4'}"
                              (click)="descargaGuiaEstudio()">
                    </p-button>
                </p-accordionTab>
                <p-accordionTab header="Sesión de Asesoría" *ngIf="idEstatusPlaza!='3' && idEstatusPlaza!='4'">

                    <table class="table table-bordered table-striped" *ngIf="sesionesAsesoria?.length>0">
                        <thead>
                            <tr>

                                <th>DIA</th>
                                <th>LUGAR</th>
                                <th>DURACION</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of sesionesAsesoria">

                                <td>{{ row.DIA | dateFormat}}</td>
                                <td>{{ row.LUGAR }}</td>
                                <td>{{ row.DURACION }} Minutos</td>

                            </tr>
                        </tbody>
                    </table>
                </p-accordionTab>

                <p-accordionTab header="Sesión de Examen" *ngIf="idEstatusPlaza=='2'">
                    <div class="col-md-12">

                        <table class="table table-bordered table-striped" *ngIf="sesionesExamen?.length>0">
                            <thead>
                                <tr>

                                    <th>FECHA</th>
                                    <th>HORA INICIO</th>
                                    <th>HORA FIN</th>
                                    <th>DURACION</th>
                                    <th>LUGAR</th>
                                    <th>MÁXIMA CAPACIDAD</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of sesionesExamen">

                                    <td>{{ row.DIA | dateFormat}}</td>
                                    <td>{{ row.HORAINI }}</td>
                                    <td>{{ row.HORAFIN }}</td>
                                    <td>{{ row.DURACION }}</td>
                                    <td>{{ row.LUGAR }}</td>
                                    <td>{{ row.CAPMAX }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </p-accordionTab>


                <p-accordionTab header="Proceso Cancelado" *ngIf="procesoCancelado && rankingDictamen === ''">
                    {{motivoCancelacion}}
                    <!--
                    <p-button label="Constancia de participación" [style]="{'width':'100%', 'background-color': '#01A4A4'}"
                        (click)="descargaConstanciaParticipacion()" >
                    </p-button>
                    -->
                </p-accordionTab>

                <!--

                <p-accordionTab header="Constancia" *ngIf="idEstatusPlaza=='2' && !procesoCancelado">
                    <p-button label="Constancia de participación" [style]="{'width':'100%', 'background-color': '#01A4A4'}"
                        (click)="descargaConstanciaParticipacion()">
                    </p-button>
                </p-accordionTab>

                -->
                <p-accordionTab [(selected)]="isFinalizado" header="Carta Aceptación" *ngIf="valuePublicaRes == '1' && rankingDictamen !== ''
                                                                    && (idEstatusDictamen=== 'FAVORABLE' 
                                                                    || idEstatusDictamen === 'ACEPTADA'
                                                                    || idEstatusDictamen === 'RECHAZO DE PLAZA - PARTICIPACION CANCELADA'
                                                                    )">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="text-align: justify;">
                                Cuentas con 5 dias hábiles a partir del día de publicación de los resultados para
                                entregar tu carta de aceptación a la Dirección de Capital Humano y Escalafón,
                                ubicada en Av. Miguel Hidalgo número 216 Portal Madero, Edificio Monroy tercer
                                piso B, Colonia Centro, CP 50000 Toluca Estado de México.
                            </p>
                            <br />
                        </div>
                        <div class="col-md-3"
                             *ngIf="idEstatusDictamen=== 'FAVORABLE' || idEstatusDictamen === 'ACEPTADA'">
                            <p-button label="ACEPTO" [style]="{'width':'100%', 'background-color':'#88C425'}"
                                      (click)="descargaCartaAceptacionUsuario(true)" class="ui-button-success">
                            </p-button>
                        </div>
                        <div class="col-md-3"
                             *ngIf="idEstatusDictamen === 'RECHAZO DE PLAZA - PARTICIPACION CANCELADA' || idEstatusDictamen=== 'FAVORABLE'">
                            <p-button label="NO ACEPTO" [style]="{'width':'100%', 'background-color':'red'}"
                                      class="ui-button-danger"
                                      (click)="descargaCartaAceptacionUsuario(false)">
                            </p-button>
                        </div>
                    </div>
                </p-accordionTab>

                <p-accordionTab header="Constancia" *ngIf="idEstatusPlaza=='1' && !procesoCancelado">
                    <p-button label="Constancia de recepcion de documentos"
                              [style]="{'width':'100%', 'background-color': '#01A4A4'}"
                              (click)="descargaConstanciaRecepcionDocumentos()">
                    </p-button>
                </p-accordionTab>

            </p-accordion>




        </div>
    </div>


</p-dialog>

<p-dialog header="Atención" [(visible)]="MsgAtencion" [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true"
          [style]="{'width': '320px', 'height':'200px', 'max-height':'200px', 'max-width':'320px'}">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p style="text-align: justify; ">
                Recuerde que debe realizar su encuesta de satisfacción.
            </p>
            <br />
            <button type="button" pButton label="Encuesta De Satisfacción Del Proceso De Ascenso Escalafonario"
                    (click)="redirectEncuesta()" class="ui-button-primary"></button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Atención" [(visible)]="msgPublicaRes" [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p style="text-align: justify; ">
                Actualmente se están dictaminando los resultados, estos podrán ser consultados a partir del
                {{fechaAcepta | dateFormat}}.
            </p>
        </div>
    </div>
</p-dialog>
<ngx-spinner></ngx-spinner>