<p-toast [style]="{marginTop: '1px'}" position="top-left"></p-toast>
<p-toast key="c" position="center"
         [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi {{tipoMensaje}} {{colorIcono}}" style="font-size: 3em;"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
    </ng-template>
</p-toast>

<!-- Formulario principal -->
<form [formGroup]="constanciaNoAdeudoForm">
    <p-panel header="Constancia de No Adeudo" [toggleable]="false">
        <!-- Boton de nueva solicitud y Boton de instrucciones de pantalla -->
        <div class="row">
            <div class="col-md-12" style="display: flex; justify-content: space-between;">
                <button id="btnNuevaSolicitud"
                        type="button"
                        class="ui-button-primary"
                        pButton icon="pi pi-plus-circle"
                        label="Nueva solicitud"
                        style="width: 150px;"
                        (click)="btnNuevaSolicitudClick()"></button>

                <button type="button" class="ui-button-primary"
                        pButton icon="pi pi-question-circle"
                        label="Información"
                        (click)="mostrarInstrucciones = true"
                        style="width: 150px;"></button>
            </div>
        </div>
        <!-- Seccion de resultados -->
        <div class="col-md-12" style="margin-top: 20px;">
            <p-table #dt [value]="lsConstanciaNoAdeudo" [rows]="10"
                     [rowsPerPageOptions]="[10,25,50]" [paginator]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th [style]="{width: '80px'}">Folio</th>
                        <th [style]="{width: '125px'}">Clave Servidor Público</th>
                        <th>Servidor Público</th>
                        <th>Fecha de solicitud</th>
                        <th [style]="{width: '90px'}">Estatus</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-row>
                    <tr>
                        <td>{{row.folio}}</td>
                        <td [style]="{textAlign: 'center'}">{{row.claveServidorPublico}}</td>
                        <td>{{row.nombreServidorPublico}}</td>
                        <td>{{row.fechaSolicitudCadena}}</td>
                        <td>{{row.estatus}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="5" style="font-weight: bold;">
                            No se encontraron registros
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- Descarga de documento -->
        <div class="row" style="margin: 20px 0;">
            <div class="col-md-12" style="text-align: end;">
                <button id="btnDescargarHistorial"
                        type="button"
                        class="ui-button-primary"
                        pButton icon="pi pi-arrow-circle-down"
                        label="Descargar Constancia"
                        (click)="btnDescargarConstancia()"
                        style="width: 190px;"></button>

            </div>
        </div>
    </p-panel>
</form>

<!-- Dialogo de solicitud de historial laboral -->
<p-dialog header="Nueva solicitud"
          [(visible)]="mostrarDialogoNuevaSolicitud"
          [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true"
          [style]="{width: '700px', border: '0px', padding: '0px !important'}">
    <!-- Comentarios -->
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-12">
            <div class="form-group">
                <label>Comentarios</label>
                <br />
                <textarea id="txtComentarios"
                          rows="3" cols="79"
                          maxlength="100"
                          [(ngModel)]="comentario"
                          pInputTextarea></textarea>
            </div>
        </div>
    </div>
    <!-- Botones de gestion-->
    <div class="row">
        <div class="col-md-12"
             style="display: flex; justify-content: space-between; 
             margin-bottom: 50px !important">
            <button id="btnCancelarSolicitud"
                    type="button"
                    class="ui-button-danger"
                    pButton icon="pi pi-times-circle"
                    label="Cancelar"
                    (click)="mostrarDialogoNuevaSolicitud = false"
                    style="width: 150px;"></button>
            <button id="btnAceptarSolicitud"
                    type="button"
                    class="ui-button-primary"
                    pButton icon="pi pi-check-circle"
                    label="Aceptar"
                    style="width: 150px;"
                    (click)="btnAceptarSolicitudClick()"></button>
        </div>
    </div>
</p-dialog>

<!-- Dialogo de instrucciones -->
<p-dialog header="Información" [(visible)]="mostrarInstrucciones" [focusOnShow]="false" [responsive]="true"
          showEffect="fade" [modal]="true" [style]="{width: '500px', border: '0px', padding: '0px !important'}">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <p style="font-weight: bold;">Funcionalidad:</p>
            <p style="text-align: justify;">
                Esta pantalla muestra las solicitudes de constancia de no adeudo que ha realizado el servidor público.
            </p>
            <br />
            <p style="font-weight: bold;">Instrucciones:</p>
            <p style="text-align: justify;">
                En este módulo, se puede realizar la solicitud de constancia de no adeudo, así como obtener el estatus
                con el que se encuentra la última solicitud realizada. De igual forma, se puede consultar el histórico
                de solicitudes realizadas, así como la descarga de la última constancia de no adeudo generada.
            </p>
        </div>
    </div>
</p-dialog>

<!-- Loader general -->
<ngx-spinner></ngx-spinner>