<div class="container">

    <p-panel header="Preguntas frecuentes - Evaluación del desempeño" [toggleable]="false">


        <div class="row ">

            <div class="col-md-12 div-panel">
                <h5>
                ¿Qué mide la Evaluación del Desempeño?
                </h5>
                <p>En este proceso se evalúa de forma periódica el desarrollo constante de competencias que una persona
                servidora pública posee para realizar sus labores con calidad, eficiencia y eficacia dentro del Gobierno
                del Estado de México, el instrumento se divide en tres segmentos que valoran los conocimientos teóricos
                con los que cuenta la persona servidora pública aplicados a la practica en las actividades diarias, así
                como la destreza social que requiere la misma para contribuir a formar un ambiente de trabajo armonioso
                y respetuoso, finalmente la puntualidad y asistencia son a la vez igual de importantes para lograr una
                valoración multidimensional.</p>
                <h5>
                ¿Para qué sirve la Evaluación del Desempeño?
                </h5>
                <p>La Evaluación del Desempeño debe llevarse a cabo de forma presencial entre la jefa o jefe y la persona
                servidora pública, esto permite que la primer figura mencionada brinde una retroalimentación sobre el
                rendimiento en las funciones, actividades y labores en general que realiza la persona servidora pública,
                por otro lado esta última puede ser consciente sobre sus áreas de oportunidad así como tener la
                posibilidad de recibir el reconocimiento por su empeño y esfuerzo al mantener la calidad en su labor.</p>

                <p>Además la Evaluación del Desempeño tiene un valor dentro del puntaje escalafonario para quienes deseen
                participar en concursos de Ascenso Escalafonario.</p>


            </div>


        </div>

    </p-panel>
</div>