<footer>
<div class="row not-mar-pad">
    <div class="col-md-9 not-mar-pad" >
        <div class="row" style="margin: 18px 25px 18px 25px;">
            <div class="col-md-3 enlaces">
                <h5 class="titulos">Conoce el estado</h5>
                <br />
                <p> <a href="https://edomex.gob.mx/" target="_blank">Portal del Gobierno de Estado de México</a></p>
                <p><a href="https://www.secogem.gob.mx/SAM/sit_atn_mex.asp" target="_blank">Quejas y Denuncias</a></p>
                <p><a href="https://cemer.edomex.gob.mx/" target="_blank">Comisión Estatal de Mejora Regulatoria</a></p>
                <p><a href="https://www.ipomex.org.mx/portal.htm" target="_blank">Información Pública de oficio Mexiquense</a></p>
                <p><a href="https://finanzas.edomex.gob.mx/inicio" target="_blank">Secretaría de Finanzas</a></p>
            </div>
            <div class="col-md-3 enlaces" >
                <h5 class="titulos">Acerca del sitio</h5>
                <br />
                <p> <a href="#!" class="disabled">Contáctanos</a></p>
                <p> <a href="#!" class="disabled">Mapa del sitio</a></p>
                <p> <a href="#!" class="disabled">Avisos legales</a></p>
            </div>
            <div class="col-md-3 enlaces">
                <h5 class="titulos">Contacto</h5>
                <br />
                <p>Sistema Estatal de Informática
                    Urawa 100, Progreso, 50150 Toluca de Lerdo, Méx.</p>
                <!--
                    <p>(01722) 276900</p>
                    <p>mailito@edomex.gob.mx</p>
                -->
            </div>
            <div class="col-md-3 enlaces">
                <h5 class="titulos">Enlaces de interés</h5>
                <br />
                <p> <a href="#!" class="disabled">Servicios</a></p>
                <p> <a href="#!" class="disabled">Estándares</a></p>
                <p> <a href="#!" class="disabled">Marco normativo</a></p>
                <p> <a href="#!" class="disabled">Secretaria de Finanzas</a></p>
                <p> <a href="#!" class="disabled">Edictos</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 logos-footer not-mar-pad">
        <img src="/PortalAutoservicio/assets/Images/logo-estado-bn.svg"  width="258px;" height="62px">
        <img src="/PortalAutoservicio/assets/Images/logo-edomex-bn.svg"  width="257px;" height="57px">
        <hr class="hr-line">
        <div>
            <a href="https://m.facebook.com/gobierno.edomex">
                <img src="/PortalAutoservicio/assets/Images/logo-facebook-bn.svg" style="padding-right: 10px;">
            </a>
            <a href="https://twitter.com/edomex">
                <img src="/PortalAutoservicio/assets/Images/logo-twitter-bn.svg" style="padding-left: 10px;">
            </a>
        </div>
    </div>
</div>
</footer>